# Backend URL (Android emulator uchun 10.0.2.2:8000, iOS uchun localhost:8000)
EXPO_PUBLIC_API_URL=http://10.0.2.2:8000/api/v1

# Real qurilma uchun (kompyuter Wi-Fi IP)
# EXPO_PUBLIC_API_URL=http://192.168.1.100:8000/api/v1
